@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none; /* Desactivar el contorno por defecto en todos los elementos formulario*/
}

body {
  font-size: 1rem;
  font-family: system-ui; /* permite que el navegador elija la fuente predeterminada del sistema operativo en el que se está ejecutando y esto aporta consistencia visual en entornos donde se da importancia a la accesibilidad */
}

/*COLORES-------------------------------------------------------------------------------------*/
header, .green__bottom, .main__third__section, .main__contact h2, footer {
  color: #f2f2f2;
}

.main__first__section__header a {
  color: rgb(128, 186, 142);
}

.main__first__section__header, .main__first__section__posts, .main__galeria, .main__contact, footer span {
  color: rgb(128, 128, 128);
}

footer {
  color: rgb(65, 65, 65);
}

/*FONDOS-------------------------------------------------------------------------------------*/
header, .main__third__section {
  background-image: url(images/header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main__contact, footer {
  background-color: black;
}

/*FLEX---------------------------------------------------------------------------------------*/
.main__first__section, .main__galeria article, .main__third__section p, footer {
  text-align: center;
}

/*HEADER-------------------------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: bottom;
  min-height: 15em;
  font-size: xx-large;
}

/*FIRST SECTION----------------------------------------------------------------------------------*/
.main__first__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45em;
  background-color: rgb(242, 242, 242);
  padding: 5em;
}
.main__first__section img {
  max-width: 50px;
  max-height: 50px;
}

.main__first__section__header h2, .main__first__section__posts img, .main__first__section__posts figcaption {
  margin-bottom: 1em;
}

.main__first__section__header p {
  margin-bottom: 5em;
}

.main__first__section__posts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.main__first__section__posts div {
  padding: 5em;
}
.main__first__section__posts p {
  margin-bottom: 3em;
}

.green__bottom {
  border: 1px solid rgb(128, 186, 142);
  border-radius: 3px;
  padding: 0.5em;
  background-color: rgb(128, 186, 142);
}

/*GALERIA---------------------------------------------------------------------------------*/
.main__galeria {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-gap: 3em;
  padding: 6em;
}
.main__galeria article {
  padding-right: 7em;
}
.main__galeria figcaption {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/*THIRST-SECTION---------------------------------------------------------------------*/
.main__third__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10em;
  background-position: center;
  font-style: italic;
  font-size: x-large;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 20em;
  padding-right: 20em;
  -moz-text-align-last: center;
       text-align-last: center;
}

/*CONTACT---------------------------------------------------------------------------*/
.main__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
}
.main__contact h2 {
  font-size: 3em;
  font-weight: 100;
}
.main__contact p {
  margin-top: 1em;
  margin-bottom: 5em;
}
.main__contact hr {
  width: 75%;
  border-color: rgb(128, 128, 128);
}

/*MEDIA QUERIES---------------------------------------------------------------*/
/*DESKTOP---------------------------------------------------------------------*/
@media screen and (max-width: 1300px) {
  .main__posts {
    flex-direction: column;
  }
  .main__posts div {
    padding: 2em;
  }
  .main__galeria {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .main__third__section {
    padding-right: 2em;
    padding-left: 2em;
  }
  footer {
    height: 10em;
  }
  footer p {
    margin-bottom: 2em;
  }
}/*# sourceMappingURL=style.css.map */